.header {
    margin: 0 auto;
    padding: 0;
    min-height: 56px;
    max-width: 880px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);;
}
